У нас 4 признака и 1 таргет. Один из признаков это id скважины, три других какие то значимые величины. Начнем работу с данными.

In [117]:
import pandas as pd
import numpy as np
#from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from scipy import stats as st

In [118]:
data_1 = pd.read_csv('geo_data_0.csv')
data_2 = pd.read_csv('geo_data_1.csv')
data_3 = pd.read_csv('geo_data_2.csv')

In [119]:
data_1.head()

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647

In [120]:
data_2.head()

      id         f0         f1        f2     product
0  kBEdx -15.001348  -8.276000 -0.005876    3.179103
1  62mP7  14.272088  -3.475083  0.999183   26.953261
2  vyE1P   6.263187  -5.948386  5.001160  134.766305
3  KcrkZ -13.081196 -11.506057  4.999415  137.945408
4  AHL4O  12.702195  -8.147433  5.004363  134.766305

In [121]:
data_3.head()

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746

In [122]:
data_1.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.500419       0.250143       2.502647      92.500000
std         0.871832       0.504433       3.248248      44.288691
min        -1.408605      -0.848218     -12.088328       0.000000
25%        -0.072580      -0.200881       0.287748      56.497507
50%         0.502360       0.250252       2.515969      91.849972
75%         1.073581       0.700646       4.715088     128.564089
max         2.362331       1.343769      16.003790     185.364347

In [123]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [124]:
data_2.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        1.141296      -4.796579       2.494541      68.825000
std         8.965932       5.119872       1.703572      45.944423
min       -31.609576     -26.358598      -0.018144       0.000000
25%        -6.298551      -8.267985       1.000021      26.953261
50%         1.153055      -4.813172       2.011479      57.085625
75%         8.621015      -1.332816       3.999904     107.813044
max        29.421755      18.734063       5.019721     137.945408

In [125]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [126]:
data_3.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.002023      -0.002081       2.495128      95.000000
std         1.732045       1.730417       3.473445      44.749921
min        -8.760004      -7.084020     -11.970335       0.000000
25%        -1.162288      -1.174820       0.130359      59.450441
50%         0.009424      -0.009482       2.484236      94.925613
75%         1.158535       1.163678       4.858794     130.595027
max         7.238262       7.844801      16.739402     190.029838

In [127]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

Столбец id не нужен для обучения модели.
Разделим выборки на тест и трейн.

In [128]:
X_data1 = data_1.drop(['id', 'product'], axis=1)

In [129]:
y_data1 = data_1['product']

In [130]:
X_data2 = data_2.drop(['id', 'product'], axis=1)

In [131]:
y_data2 = data_2['product']

In [132]:
X_data3 = data_3.drop(['id', 'product'], axis=1)

In [133]:
y_data3 = data_3['product']

In [134]:
X_train1, X_valid1, y_train1, y_valid1 = train_test_split(X_data1, y_data1, test_size = 0.25, random_state=42)

In [135]:
X_train2, X_valid2, y_train2, y_valid2 = train_test_split(X_data2, y_data2, test_size = 0.25, random_state=42)

In [136]:
X_train3, X_valid3, y_train3, y_valid3 = train_test_split(X_data3, y_data3, test_size = 0.25, random_state=42)

In [137]:
X_train1.shape, X_valid1.shape, y_train1.shape, y_valid1.shape

((75000, 3), (25000, 3), (75000,), (25000,))

 С разбивкой все ок.

Разбивку закончили. Сделаем сразу масштабирование признаков.

In [138]:
numeric = ['f0', 'f1', 'f2']

In [139]:
scaler1 = StandardScaler()

In [140]:
scaler2 = StandardScaler()

In [141]:
scaler3 = StandardScaler()

In [142]:
scaler1.fit(X_train1[numeric])

StandardScaler()

In [143]:
scaler2.fit(X_train2[numeric])

StandardScaler()

In [144]:
scaler3.fit(X_train3[numeric])

StandardScaler()

In [145]:
X_train1[numeric] = scaler1.transform(X_train1[numeric])

<ipython-input-145-9742cc93bd3f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train1[numeric] = scaler1.transform(X_train1[numeric])
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2969: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

In [146]:
X_valid1[numeric] = scaler1.transform(X_valid1[numeric])

<ipython-input-146-71d042a84782>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_valid1[numeric] = scaler1.transform(X_valid1[numeric])
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2969: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

In [147]:
X_train2[numeric] = scaler2.transform(X_train2[numeric])

<ipython-input-147-b69be6e0016d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train2[numeric] = scaler2.transform(X_train2[numeric])
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2969: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

In [148]:
X_valid2[numeric] = scaler2.transform(X_valid2[numeric])

<ipython-input-148-408148d66fad>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_valid2[numeric] = scaler2.transform(X_valid2[numeric])
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2969: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

In [149]:
X_train3[numeric] = scaler3.transform(X_train3[numeric])

<ipython-input-149-cf9264e6bd26>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train3[numeric] = scaler3.transform(X_train3[numeric])
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2969: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

In [150]:
X_valid3[numeric] = scaler3.transform(X_valid3[numeric])

<ipython-input-150-d4ae080d53e9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_valid3[numeric] = scaler3.transform(X_valid3[numeric])
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2969: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
c:\users\despik\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

Закончили с подготовкой данных.

In [151]:
model1 = LinearRegression()

In [152]:
model2 = LinearRegression()

In [153]:
model3 = LinearRegression()

In [154]:
model1.fit(X_train1, y_train1)

LinearRegression()

In [155]:
model2.fit(X_train2, y_train2)

LinearRegression()

In [156]:
model3.fit(X_train3, y_train3)

LinearRegression()

In [157]:
predict1 = model1.predict(X_valid1)

In [158]:
predict2 = model2.predict(X_valid2)

In [159]:
predict3 = model3.predict(X_valid3)

In [160]:
model1.score(X_valid1, y_valid1)

0.2728287328173471

In [161]:
model2.score(X_valid2, y_valid2)

0.9996245232002449

In [162]:
model3.score(X_valid3, y_valid3)

0.19634705977280464

In [163]:
mean_sq1 = mean_squared_error(y_valid1, predict1)

In [164]:
mean_sq2 = mean_squared_error(y_valid2, predict2)

In [165]:
mean_sq3 = mean_squared_error(y_valid3, predict3)

In [166]:
rmean_sq1 = mean_sq1 ** 0.5

In [167]:
rmean_sq2 = mean_sq2 ** 0.5

In [168]:
rmean_sq3 = mean_sq3 ** 0.5

In [169]:
rmean_sq1

37.75660035026169

In [170]:
rmean_sq2

0.8902801001028827

In [171]:
rmean_sq3

40.14587231134218

In [172]:
predict1.mean()

92.39879990657768

In [173]:
y_valid1.mean()

92.32595637084387

In [174]:
predict2.mean()

68.71287803913762

In [175]:
y_valid2.mean()

68.72538074722745

In [176]:
predict3.mean()

94.77102387765939

In [177]:
y_valid3.mean()

95.15099907171961

Наша модель достаточно хорошо предсказывает целевую переменную. Особенно во втором регионе.

Мы обучили модель, получили необходимые данные, которые нам потребуются. Дальше переходим к расчету прибыли и подготовке.

In [178]:
data_1.corr()

               f0        f1        f2   product
f0       1.000000 -0.440723 -0.003153  0.143536
f1      -0.440723  1.000000  0.001724 -0.192356
f2      -0.003153  0.001724  1.000000  0.483663
product  0.143536 -0.192356  0.483663  1.000000

In [179]:
data_2.corr()

               f0        f1        f2   product
f0       1.000000  0.182287 -0.001777 -0.030491
f1       0.182287  1.000000 -0.002595 -0.010155
f2      -0.001777 -0.002595  1.000000  0.999397
product -0.030491 -0.010155  0.999397  1.000000

In [180]:
data_3.corr()

               f0        f1        f2   product
f0       1.000000  0.000528 -0.000448 -0.001987
f1       0.000528  1.000000  0.000779 -0.001012
f2      -0.000448  0.000779  1.000000  0.445871
product -0.001987 -0.001012  0.445871  1.000000

Получается f2 коррелирует с product почти идеально. Интересно, это сделали специально.

In [181]:
round(y_data1.sum())

9250000.0

In [182]:
round(y_data2.sum())

6882500.0

In [183]:
round(y_data3.sum())

9500000.0

В 3 регионе наибольшая концентрация продукта.

In [184]:
BUDGET = 10000000000
DOHOD_1ed = 450000
MAX_SKVAZH = 200
RAZRAB_1_TOCHKA = BUDGET/MAX_SKVAZH

Тут мы вычисляем средний объем скважины, и смотрим достаточный средний объем скважины.

In [185]:
mean_dohod1 = y_valid1.mean() * DOHOD_1ed * MAX_SKVAZH

In [186]:
mean_dohod2 = y_valid2.mean() * DOHOD_1ed * MAX_SKVAZH

In [187]:
mean_dohod3 = y_valid3.mean() * DOHOD_1ed * MAX_SKVAZH

In [188]:
S_dostatochnaya = RAZRAB_1_TOCHKA/ DOHOD_1ed

In [189]:
round(S_dostatochnaya)

111

Получается 111 тысяч баррелей необходимо всем скважинам, чтобы достичь точки безубыточности. И все регионы в среднем убыточны.

In [190]:
round(mean_dohod1- BUDGET, 2)

-1690663926.62

In [191]:
round(mean_dohod2 - BUDGET, 2)

-3814715732.75

In [192]:
round(mean_dohod3 - BUDGET,2)

-1436410083.55

Посмотрим, как будет расчитывать прибыль и риски с помощью бутстрепа.

Мы просто берем первые 200 скважин из предсказанной выборки, и смотрим, если бы мы идеально взяли бы 200 максимальных, окупилось наше предприятие или нет.

In [193]:
valid1_sort=y_valid1.sort_values(ascending=False)

In [194]:
selected1 = valid1_sort[:200]

In [195]:
selected1.sum() * DOHOD_1ed - BUDGET

6509319261.559469

In [196]:
valid2_sort=y_valid2.sort_values(ascending=False)

In [197]:
selected2 = valid2_sort[:200]

In [198]:
selected2.sum() * DOHOD_1ed - BUDGET

2415086696.681511

In [199]:
valid3_sort=y_valid3.sort_values(ascending=False)

In [200]:
selected3 = valid3_sort[:200]

In [201]:
selected3.sum() * DOHOD_1ed - BUDGET

6947124895.817024

Как мы можем заметить, все 3 региона в идеале удачны.

In [202]:
state = np.random.RandomState(12345)

Функция для расчета прибыли

In [203]:
def revenue(target, valid, count):
    valid_sorted = valid.sort_values(ascending=False)
    selected = target[valid_sorted.index][:count]
    return DOHOD_1ed * selected.sum()

3 бутстрапа для 3 регионов

In [204]:
values1 = []
y_valid1 = y_valid1.reset_index(drop=True)
for i in range(1000):
    target_subsample = y_valid1.sample(n=500, replace=True, random_state=state)
    valid_subsample = pd.Series(predict1)[target_subsample.index]
    values1.append(revenue(target_subsample, valid_subsample, 200))
values1 = pd.Series(values1)
mean1 = values1.mean()

Нас наоборот обучали в теории, что необходимо, чтобы одни и теже элементы, должны попадать в выборку несколько раз. Поэтому мы и берем параметр sample=True, который как раз за это отвечает. Попробую поставить False, посмотрю что получится.
Попробывал, немного уменьшились значения.

In [205]:
values2 = []
y_valid2 = y_valid2.reset_index(drop=True)
for i in range(1000):
    target_subsample = y_valid2.sample(n=500, replace=True, random_state=state)
    valid_subsample = pd.Series(predict2)[target_subsample.index]
    values2.append(revenue(target_subsample, valid_subsample, 200))
values2 = pd.Series(values2)
mean2 = values2.mean()

In [206]:
values3 = []
y_valid3 = y_valid3.reset_index(drop=True)
for i in range(1000):
    target_subsample = y_valid3.sample(n=500, replace=True, random_state=state)
    valid_subsample = pd.Series(predict3)[target_subsample.index]
    values3.append(revenue(target_subsample, valid_subsample, 200))
values3 = pd.Series(values3)
mean3 = values3.mean()

3 доверительных интервала 95%

In [207]:
conf_int1 = st.t.interval(0.95, len(values1) -1, values1.mean(), values1.sem())

In [208]:
conf_int1

(10418761103.882689, 10453106440.394636)

In [209]:
lower = values1.quantile(0.025)
upper = values1.quantile(0.975)
print(lower, ',', upper)

9883768387.222792 , 10966504180.707375

In [210]:
conf_int2 = st.t.interval(0.95, len(values2) -1, values2.mean(), values2.sem())

In [211]:
conf_int2

(10485276591.448547, 10511861442.385033)

In [212]:
conf_int3 = st.t.interval(0.95, len(values3) -1, values3.mean(), values3.sem())

In [213]:
conf_int3

(10394899268.950804, 10430446529.026258)

3 средних для нашего бутстрапа

In [214]:
mean1

10435933772.138662

In [215]:
mean2

10498569016.91679

In [216]:
mean3

10412672898.988531

In [217]:
values1pd = pd.DataFrame(values1)

In [218]:
values2pd = pd.DataFrame(values2)

In [219]:
values3pd = pd.DataFrame(values3)

In [220]:
values1pd.columns = ['dohod']

In [221]:
values1pd

            dohod
0    1.021131e+10
1    1.062836e+10
2    1.064585e+10
3    1.042150e+10
4    1.023042e+10
..            ...
995  1.096637e+10
996  1.044943e+10
997  1.043657e+10
998  9.613826e+09
999  9.967424e+09

[1000 rows x 1 columns]

In [222]:
values2pd.columns = ['dohod']

In [223]:
values3pd.columns = ['dohod']

In [224]:
count_1 = values1pd.query('dohod > 10e+09').count()

In [225]:
count_2 = values2pd.query('dohod > 10e+09').count()

In [226]:
count_3 = values3pd.query('dohod > 10e+09').count()

In [227]:
procent_ybitkov1 = ((1000-count_1) / 1000) * 100
procent_ybitkov1

dohod    6.1
dtype: float64

In [228]:
procent_ybitkov2 = ((1000-count_2) / 1000) * 100
procent_ybitkov2

dohod    1.0
dtype: float64

In [229]:
procent_ybitkov3 = ((1000-count_3) / 1000) * 100
procent_ybitkov3

dohod    7.0
dtype: float64

Во втором регионе риск убытков меньше 2.5 % поэтому выбираем его.